<link rel="stylesheet" type="text/css" href="sign-up/sign-up.css" >

<section class="container sign-up">
    <div class="row">
		<div class="container-fluid">
             <div class="row">
                <div class="col-md-offset-3 col-md-2 col-sm-10 col-sm-offset-1">
                    <h2>Sign Up</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-5 col-sm-10 col-sm-offset-1">
                    <div><p class="error" ng-model="signUpVM.errorMessage">{{ signUpVM.errorMessage }}</p></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-5 col-sm-10 col-sm-offset-1">
                    <div><input type="text" ng-model="signUpVM.name" placeholder="Name"></input></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-5 col-sm-10 col-sm-offset-1">
                    <div><input type="text" ng-model="signUpVM.lastName" placeholder="Last Name"></input></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-5 col-sm-10 col-sm-offset-1">
                    <div><input type="text" ng-model="signUpVM.email" placeholder="Email"></input></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-5 col-sm-10 col-sm-offset-1">
                    <div><input type="password" ng-model="signUpVM.password" placeholder="Password"></input></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-5 col-sm-10 col-sm-offset-1">
                    <div><label>Who are you?</label></div>
                    <div class="radioOption"><input type="radio" ng-model="signUpVM.isPatient" value="false">I'm an excellent doctor</div>
                    <div class="radioOption"><input type="radio" ng-model="signUpVM.isPatient" value="true">I'm a valued patient</div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-md-offset-4 col-md-5 col-sm-10 col-sm-offset-1">
                    <button type="button" id="btnSignUp" ng-click="signUpVM.signUp()">Sign Up</button>
                    <button type="button" ui-sref="home">Cancel</button>
                </div>
            </div>
        </div>
	</div>
</section>