<link rel="stylesheet" type="text/css" href="patients/medicalInformation/medicalInfo.css" >
<div class="col-md-12">
    <div class="row medical-info">
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <h2>Medical Information</h2>
            </div>
            <div class="row">
                 <div class="col-md-offset-3 col-md-2 col-sm-10 col-sm-offset-1">
                    <div class="firstCol"><label>Blood Type</label><span class="fieldRequired">*<span></div>
                </div>
                <div class="col-md-2 col-sm-10">
                    <div><input type="text" ng-model="medicalInfoVM.bloodType"></div>
                </div>         
            </div>
             <div class="row">
                 <div class="col-md-offset-2 col-md-3 col-sm-10 col-sm-offset-1">
                    <div class="firstCol"><label>Health Conditions</label><span class="fieldRequired">*<span></div>
                </div>
                <div class="col-md-2 col-sm-10">
                    <div><input type="text" ng-model="medicalInfoVM.diseases"></div>
                </div>         
            </div>
            <div class="row">
                 <div class="col-md-offset-2 col-md-3 col-sm-10 col-sm-offset-1">
                    <div class="firstCol"><label>Medicines</label><span class="fieldRequired">*<span></div>
                </div>
                <div class="col-md-2 col-sm-10">
                    <div><input type="text" ng-model="medicalInfoVM.medicines"></div>
                </div>         
            </div>
        </div>
    </div>
</div> 