.error{
	color: red;
	font-size: 1.6rem;
	margin-top: 1.1rem;
}

.sign-in h2 {
	margin-bottom: 4rem;
	font-weight: bold;
}

.sign-in label {
	font-size: 2rem;
	padding-right: 1rem;
	margin-bottom: 1.4rem;
	color:#F78008;
}

.sign-in input {
	font-size: 1.8rem;
	color:#0A2D53;
}

.sign-in .firstCol{
	float:right;
}

.sign-in .buttons {
	margin-top: 1.8rem;	
	margin-bottom: 2.8rem;
	float:none;	
	font-size: 1.8rem;
}

.sign-in button{
	margin-right: 2rem;
	padding: 0.5rem, 1rem;
}

.linkMessage {
	font-weight: bold;
	font-size: 1.5rem;
	display: inline-block;
	margin-right: 2rem;
}

.sign-in a{
	font-size: 1.5rem;
}