<link rel="stylesheet" type="text/css" href="sign-in/sign-in.css" >

<section class="container sign-in">
	<div class="row">
		<div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-2 col-sm-10 col-sm-offset-1">
                    <h2>Sign In</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-2 col-sm-10 col-sm-offset-1">
                    <div class="firstCol"><label>Email</label><span class="fieldRequired">*<span></div>
                </div>
                <div class="col-md-2 col-sm-10">
                    <div><input type="text" ng-model="signInVM.email"></input></div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-offset-3 col-md-2 col-sm-10 col-sm-offset-1">
                    <div class="firstCol"><label>Password</label><span class="fieldRequired">*<span></div>
                </div>
                <div class="col-md-2 col-sm-10">
                    <div><input type="password" ng-model="signInVM.password"></input></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-4 col-sm-10 col-sm-offset-1">
                    <div><p class="error" ng-model="signInVM.errorMessage">{{ signInVM.errorMessage }}</p></div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-md-offset-5 col-md-4 col-sm-10 col-sm-offset-1">
                    <button type="button" ng-click="signInVM.signIn()">Sign In</button>
                    <button type="button" ui-sref="home">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-4 col-sm-10 col-sm-offset-1">
                    <div><p class="linkMessage">Not a member yet?</p><a ui-sref="sign-up">Sign up!</a></div>
                </div>
            </div>
        </div>
	</div>
</section>