.home-content img {
	margin-left: 23rem;
	margin-bottom: 3rem;
	height:50rem;
}

.home-content h1 {
	margin-left: 1rem;
	margin-bottom: 3rem;
	font-weight: bold;
	color:#00A1A1;
}

.home-content p {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
	color:#0A2D53;
	font-size: 2rem;
}